* {
    text-align: center;
}

.left {
    float: left;
    width: auto;
}

.right {
    /* float: right; */
    text-align: center;
    width: auto;
}

.white,
.brown {
    float: left;
    width: 98px;
    height: 98px;
    border: 1px solid black;
}

#board {
    width: 800px;
    height: 800px;
    display: block;
}

.white {
    background-color: white;
}

.brown {
    background-color: brown;
}

img {
    width: 98px;
}

.highlighted {
    border: 10px solid yellow;
    width: 80px;
    height: 80px;
}

.highlighted img,
.selected img {
    width: 80px;
}

p {
    font-size: xx-large;
    display: block;
}

.selected {
    border: 10px solid red;
    width: 80px;
    height: 80px;
}

.turn {
    font-size: 50px;
}