* {
    text-align: center;
}

.left {
    float: left;
    width: 80%;
}

.right {
    float: right;
    text-align: center;
    width: 20%;
}

.white, .brown {
    float: left;
    width: 98px;
    height: 98px;
    border: 1px solid black;
}

#board {
    width: 800px;
    height: 800px;
    display: block;
}

.white {
    background-color: white;
}

.brown {
    background-color: brown;
}

img {
    width: 98px;
}

.highlighted {
    border: 10px solid yellow;
    width: 80px;
    height: 80px;
}

.highlighted img {
    width: 80px;
}

p {
    font-size: xx-large;
    display: block;
}